*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: verdana, arial, sans-serif;
}
body {
    color: #fff;
    background-color: #455a64;
}

main {
    display: flex;
    flex-direction: row;
}

article {
    background-color: #546e7a;
    height: 500px;
    padding: 50px 20px;
}

nav, aside {
    background-color: #455a64;
}

nav {
    order: -1;  
}

header, footer {
    flex: 0 0 5em;
    background-color: #455a64;
    height: 100px;
}