* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

form {
    margin-top: 50px;
    margin-left: 50px;
}

input {
    border: #c9c9c9 1px solid;
    width: 80%;
    /* width: 400px; */
    /* height: 25px; */
    border-radius: 2px;
}

textarea {
    border: #c9c9c9 1px solid;
    border-radius: 2px;
    resize: none;
    width: 80%;
}

.submit-btn {
    width: 80px;
    height: 40px;
    background-color: #333;
    color: #f6f6f6;
}

/* .input-box {
    width: 400px;
} */

.parent-box {
    width: 400px;
}